## OriginalCode

### 512 MB

| run | time (ms) | cold start |
| 1 | 399 | yes |
| 2 | 344 | no |
| 3 | 342 | no |
| 4 | 340 | no |
| 5 | 326 | no |

## New Code

### 512 MB

| run | time (ms) | cold start |
| 1 | 64 | yes |
| 2 | 67 | no |
| 3 | 63 | no |
| 4 | 59 | no |
| 5 | 63 | no |

### 128 MB

| run | time (ms) | cold start |
| 1 | 308 | yes |
| 2 | 282 | no |
| 3 | 287 | no |
| 4 | 295 | no |
| 5 | 293 | no |
